body{
    margin: 0;
}


.navbar{
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}
.nav-links{
    font-size: 18px;
    display: flex;
    
    
}
a{
    text-decoration: none;   
    margin: 5px;
    color: #E5E7EB;
    
}
